body {
    margin: 0;
    font-family: sans-serif;
    background: #010133;
    color: whitesmoke;
}

.bg-img {
    height: 160%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1733702868662-3c96ce5844b3?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-attachment: fixed;
}


@media (max-width: 500px) {
    .container {
        padding: 10px;
        
    }
}

h1 {
    font-size: 50px;
}

p {
    text-align: justify;
}

.container {
    padding: 100px;
}

