body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    background: #171790;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.container input {
    height: 30px;
    width: 100%;
    font-size: 20px;

}

.container .payment {
    font-weight: 600;
    font-size: 20px;
}